emacs/.emacs.d/backups/*
emacs/.emacs.d/init/google.el
emacs/.emacs.d/*.dat
emacs/.emacs.d/backups/*
emacs/.emacs.d/desktop/*
emacs/.emacs.d/places/*
emacs/.emacs.d/tramp
emacs/.emacs.d/auto-save-list/*
terminal/.google-bashrc