;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Apr 15 12:28:30 2013
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("ftf-add" "nxh" "desktop" "common"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/usr/local/google/home/charliea/Documents/preferences/emacs/.emacs.d/plugins/find-things-fast/find-things-fast.el" "/usr/local/google/home/charliea/gan/google3/java/com/google/ads/affiliatenetwork/frontend/advertiser/client/creditcards/CreditCardCreativeForm.ui.xml" "/usr/local/google/home/charliea/gan/google3/java/com/google/ads/affiliatenetwork/frontend/advertiser/client/creditcards/CreditCardCreativeForm.java" "/home/build/google3/java/com/google/ads/affiliatenetwork/frontend/advertiser/client/creditcards/CreditCardOfferItem.ui.xml" "/home/leadpipe/.emacs" "~/.emacs.d/init/common.el" "/usr/local/google/home/charliea/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/usr/local/google/home/charliea/Documents/preferences/emacs/.emacs.d/plugins/find-things-fast/find-things-fast.el"
  "find-things-fast.el"
  'emacs-lisp-mode
  '(linum-mode global-auto-revert-mode yas/minor-mode auto-complete-mode)
  4031
  '(4006 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/google/home/charliea/Documents/preferences/emacs/.emacs.d/init/common.el"
  "common.el"
  'emacs-lisp-mode
  '(linum-mode global-auto-revert-mode yas/minor-mode auto-complete-mode)
  5132
  '(5032 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/usr/local/google/home/charliea/gan/google3/java/com/google/ads/affiliatenetwork/frontend/advertiser/client/creditcards/CreditCardCreativeForm.java"
  "CreditCardCreativeForm.java"
  'java-mode
  '(abbrev-mode linum-mode global-auto-revert-mode yas/minor-mode auto-complete-mode whitespace-mode)
  2090
  '(1801 nil)
  nil
  nil
  '((show-trailing-whitespace . t) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/google/home/charliea/gan/google3/java/com/google/ads/affiliatenetwork/frontend/advertiser/client/creditcards/CreditCardCreativeForm.ui.xml"
  "CreditCardCreativeForm.ui.xml"
  'nxml-mode
  '(linum-mode global-auto-revert-mode yas/minor-mode whitespace-mode)
  1572
  '(3198 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/usr/local/google/home/charliea/Documents/preferences/emacs/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(linum-mode global-auto-revert-mode yas/minor-mode auto-complete-mode)
  77
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/leadpipe/elisp/.emacs"
  ".emacs<2>"
  'emacs-lisp-mode
  '(linum-mode global-auto-revert-mode yas/minor-mode auto-complete-mode)
  6790
  '(6580 nil)
  t
  nil
  '((buffer-file-coding-system . undecided-unix)))

